/* Import the font */
@font-face {
  font-family: 'Abaddon';
  src: url('/src/assets/fonts/AbaddonLight.ttf');
}

*, html, body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Abaddon', sans-serif !important;
}

p {
  font-size: 1.2rem;
}