/* Import the font */
@font-face {
  font-family: 'Abaddon';
  src: url('/src/assets/fonts/AbaddonLight.ttf');
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  color: #a5a5a5;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Figtree", sans-serif !important;
  height: inherit;
}

p {
  font-size: 1rem;
}

h1 {
  color: #C3F255;
  font-weight: bold;
}

h2 {
  color: #7C77B9;
  font-weight: bold;
}

h3 {
  color: #7C77B9;
  font-weight: bold;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 0;
  padding-right: 0;
}

.btn-section {
  background-color: transparent;
  padding: 5px;
  color: #a5a5a5;
  border: #a5a5a5;
}

.btn-section:hover {
  background-color: whitesmoke;
  color: #333333;
}

.btn-secondary {
  background-color: #A54657;
  border: #A54657;
  border-radius: 1rem;
}

.btn-secondary:hover {
  background-color: #7c2d3c;
  border: #7c2d3c;
}

/* Featurettes
------------------------- */
.featurette-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}
  
.featurette-heading {
  letter-spacing: -.05rem;
}
  

/* SKILLS CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.skill .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.skill .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */